@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
  overflow-y: scroll;
  @apply bg-gray-800;
  @apply text-gray-300;
}

h1 {
  @apply text-2xl;
}

button {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
input:focus-visible {
  outline: none;
}
