@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  height: 100%;
  @apply bg-gray-800;
  @apply text-gray-300;
  @apply font-poppins;
}

#root {
  min-height: 100%;
  overflow-y: auto;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

button {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
input:focus-visible {
  outline: none;
}

/* Transitions */
@variants responsive {
  .origin-center {
    transform-origin: center;
  }
  .origin-top {
    transform-origin: top;
  }
  .origin-right {
    transform-origin: right;
  }
  .origin-bottom {
    transform-origin: bottom;
  }
  .origin-left {
    transform-origin: left;
  }
  .origin-top-right {
    transform-origin: top right;
  }
  .origin-bottom-right {
    transform-origin: bottom right;
  }
  .origin-top-left {
    transform-origin: top left;
  }
  .origin-bottom-left {
    transform-origin: bottom left;
  }

  .transition-color {
    transition-property: color, background-color;
  }
  .transition-opacity {
    transform-property: opacity;
  }
  .transition-transform {
    transform-property: transform;
  }
  .transition-all {
    transition-property: all;
  }

  .transition-fastest {
    transition-duration: 50ms;
  }
  .transition-faster {
    transition-duration: 100ms;
  }
  .transition-fast {
    transition-duration: 150ms;
  }
  .transition-medium {
    transition-duration: 200ms;
  }
  .transition-slow {
    transition-duration: 250ms;
  }
  .transition-slower {
    transition-duration: 300ms;
  }
  .transition-slowest {
    transition-duration: 500ms;
  }

  .ease-in {
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .ease-out {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .ease-in-out {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .ease-out-back {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

/* 
* Drawer Animation
*/

.drawer-animation-enter {
  @apply transform -translate-x-full;
}

.drawer-animation-enter-active {
  @apply origin-top-right transition-all transition-slower ease-in-out transform translate-x-0;
}

.drawer-animation-exit-active {
  @apply origin-top-right transition-all transition-slower ease-out transform -translate-x-full;
}

/* 
* Routes animations
*/

.route-animation-appear {
  @apply transform scale-75 opacity-0;
}

.route-animation-appear-active {
  @apply transition-all transition-slower ease-out transform scale-100 opacity-100;
}

.route-animation-enter {
  @apply transform scale-75 opacity-0;
}

.route-animation-enter-active {
  @apply transition-all transition-slower ease-out transform scale-100 opacity-100;
}

.route-animation-exit-active {
  @apply transition-all transition-slower ease-out transform scale-75 opacity-0;
}
